<template>
    <span>{{status}}</span>
</template>


<script>
export default {
    props: {
        link: String
    },

    data () {
        return {
            status: '...'
        }
    },

    mounted () {
        fetch(this.link).then(response => {
            if (response.status !== 200) {
                console.log(response)
                this.status = '☒'
            } else {
                this.status = '☑'
            }
        }).catch(err => {
            console.log(err)
            this.status = '☒'
        })
    }
}
</script>
