<template>
    <table>
        <tr>
            <th>Lecturer</th>
            <th>Course</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Status</th>
            <th>Link</th>
        </tr>
        <tr v-for="item in instances">
            <th>{{ item.lecturer }}</th>
            <th>{{ item.course }}</th>
            <th>{{ item.year }}</th>
            <th>{{ item.semester }}</th>
            <th><InstanceStatus :link="item.link" /></th>
            <th><a :href="item.link" target="_blank">Click me!</a></th>
        </tr>
    </table>
</template>

<script>
export default {
    props: {
        instances: Array
    }
}
</script>
