<template>
    <div>
        <template v-if="examReview">
            <h3>Exam review ({{examReviewDate}})</h3>
            <InstanceList :instances="reviewInstances"/>
        </template>
        <h3>All instances</h3>
        <InstanceList :instances="instances"/>
    </div>
</template>

<script>
import data from "../../data"
import {examReview, examReviewDate} from "../../data"

data.reverse()

export default {
    data () {
        return {
            instances: data,
            reviewInstances: data.filter(exam => exam.review),
            examReview,
            examReviewDate
        }
    }
}
</script>
